.logo
  %img{ src: 'images/space.jpg', alt: 'Space' }

%section{ role: 'main' }
  %h1 User Error
  %p You have navigated to a page that does not exist, or likely never did.
  %a.button{ href: '/' } Just kidding, it's not your fault
