!!!
%html
  %head
    %title Kunal Bhat
    %link{ rel: 'stylesheet', href: 'style.css' }
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600' }
    <!--[if lt IE 9]>
    %script{src: 'html5shiv.js'}
    <![endif]-->

  %body
    .wrapper
      %header
        %h1 Kunal Bhat
        %h2 Interaction designer

      %article
        %h3 Uh-oh. This page cannot be found.
        %p.error <a href='/' target='_self'>Back home</a>.
