%section{ role: 'main', id: 'blog' }
  %article{ role: 'article' }
    %h1
      %a{ href: '/blog/getting-larger-pictures-of-an-rdio-user'}
        Getting larger pictures of an Rdio user
    %h5 Dec 6, 2013

