!!! html5

%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }

%head
  %title kunal bhat

%body#homepage

  .wrapper
    %header.inner
      %h1 kunal bhat<br />
      %em interaction design + front-end development

  .wrapper.color-stripe
    .inner
      %section.intro
        %aside.sidecol
          %ul
            %li
              %a{:href=>"info"}