%article
  %h3 Hi I'm Kunal. I am an interaction designer with a background in computer science, design and a focus on web application development.
  %p
    My passion is prototyping and creating proof-of-concept models and interactions. My process cycles between coding and visualizing
    to quickly understand usability and validate design decisions. I enjoy puzzles, games and untangling logic.

  %p
    I currently lead design for <a href='http://dscout.com' target='_blank'>dScout</a>, an in-context research platform and start-up
    incubated by <a href='http://gravitytank.com' target='_blank'>gravitytank</a>. <br />Prior to that, I worked as a designer on
    both the print and interactive side at VSA Partners.

  %p I am agile, pragmatic and a minimalist.

  %p To learn more about my experience and to get in touch, check out my <a href='http://www.linkedin.com/in/kunalbhat' target='_blank'>Linkedin profile</a>.

%footer
  %cite
    This site was joyfully written in HAML and SCSS using Vim &mdash; deployed as a Sinatra app and hosted for free by Heroku.
    %br &copy; 2013 Kunal Bhat

:javascript
  $('#about').fadeIn();
