!!!

%html

%head
  %title kunal bhat
  %link{:rel=>'stylesheet', :href=>'/style.css'}

%body#homepage

  .wrapper
    %header.inner
      %h1 kunal bhat<br />
      %em hello world!

  .wrapper.color-stripe
    .inner
      %section.intro
        %aside.sidecol
          %ul
            %li
              %a{:href=>"info"}