%header
  %h1 Lead interaction designer + front-end developer

%section{ role: 'main' }
  %article{ class: 'col', role: 'article' }
    %h3
      I am an interaction designer with a background in CS, design, and a focus
      on web application development.

    %p
      My passion is crafting applications. I love prototyping and creating
      proof-of-concept models and interactions. My process cycles between
      coding and visualizing to quickly understand usability and validate
      design decisions. I enjoy <a href="http://review.productwiki.com/grayscale-rubik-s-cube/" target="_blank">puzzles</a>, <a href="http://www.chess.com/members/view/kunalbhat" target="_blank">games</a>,
      <a href="http://projecteuler.net" target="_blank">problem solving</a>,
      and <a href="http://codepen.io/kunalbhat/" target="_blank">untangling logic</a>.

    %p
      My experience comes from years in interaction design and user-experience,
      innovation consulting, web development, as well as beginnings in print
      and illustration. I've been lucky enough to learn on the job &ndash; I
      value practical application over theory.

    %p I am agile, pragmatic and a minimalist.

    %footer
      %p
        This site was joyfully written in <a href="http://haml.info/" target="_blank">Haml</a>
        and <a href="http://sass-lang.com/" target="_blank">Sass</a> using <a href="http://www.vim.org/" target="_blank">Vim</a>,
        deployed with <a href="http://www.sinatrarb.com/" target="_blank">Sinatra</a> and hosted for free
        by <a href="https://www.heroku.com/" target="_blank">Heroku</a>.

  %aside{ class: 'col', role: 'complementary' }
    %img{ class: 'avatar', src: 'images/kunalbhat.jpg' }

    %nav
      %a{ href: "https://twitter.com/kunalbhat", target: "_blank" } Twitter
      %a{ href: "https://github.com/kunalbhat", target: "_blank" } GitHub
      %a{ href: "http://codepen.io/kunalbhat", target: "_blank" } CodePen
      %a{ href: "http://stackoverflow.com/users/1253652/kunalbhat", target: "_blank" } StackOverflow
      %a{ href: "https://developer.mozilla.org/en-US/profiles/kunalbhat", target: "_blank" } MDN
      %a{ href: "https://angel.co/kunalbhat", target: "_blank" } AngelList
