.container
  .logo
    %img{ src: 'images/space.jpg', alt: 'Space' }

%h1 Kunal Bhat is a technologist, futurist, and minimalist UI designer in Chicago.

%p
  My passion is crafting applications &mdash; I love prototyping and creating
  proof-of-concept models and interactions. Cycling between coding and
  visualizing helps me to quickly understand behavior and validate design
  decisions.

%p You can find me on <a href='https://twitter.com/kunalbhat' target='_blank'>Twitter</a>, <a href='https://github.com/kunalbhat' target='_blank'>GitHub</a>, <a href='http://codepen.io/kunalbhat' target='_blank'>CodePen</a>, and <a href='http://stackoverflow.com/users/1253652/kunalbhat' target='_blank'>StackOverflow</a>.

%p
  %a.button{ href: 'https://github.com/kunalbhat/resume', target: '_blank' } More about me, on GitHub
