!!! 5
%html
  %head
    %title Kunal Bhat &ndash; Lead interaction designer
    %meta{ name: 'author', content: 'Kunal Bhat' }
    %meta{ name: 'description', content: 'Kunal Bhat is an interaction designer and front-end developer.' }
    %meta{ name: 'keywords', content: 'kunal, bhat, interaction design, kunal bhat, user-experience, web development, haml, sass, ruby' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
    %link{ rel: 'shortcut icon', type: 'image/x-icon', href: '/favicon.ico' }
    %link{ rel: 'stylesheet', href: '/stylesheet.css' }
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' }
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=PT+Serif' }

  %body
    .site-container
      = yield

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1959725-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
