.site-content
  .container
    %article
      %h2 Picks
      %h3
        I always appreciate good utility and app recommendations from friends and colleagues.
        Here are a few of the things I endorse.

    %section.picks-lists
      %ul
        %h4 Utilities
        %li
          %h5 iTerm
          %p Lorem ipsum dolor sit amet.
          %a{ href: '#' } Link
        %li
          %h5 Flux
          %p Lorem ipsum dolor sit amet.
          %a{ href: '#' } Link
        %li
          %h5 Boom
          %p Lorem ipsum dolor sit amet.
          %a{ href: '#' } Link
        %li
          %h5 blueutil
          %p Lorem ipsum dolor sit amet.
          %a{ href: 'http://www.frederikseiffert.de/blueutil/', target: '_blank' } Link

      %ul
        %h4 Organizations
        %li
          %h5 Mozilla
          %p Lorem ipsum dolor sit amet.
          %a{ href: '#' } Link
        %li
          %h5 Bill and Melinda Gates Foundation
          %p Lorem ipsum dolor sit amet.
          %a{ href: '#' } Link

