
      %article
        %h4 Experience
        %dl
          %dt gravitytank / dscout
          %dd Apr 2010 &ndash; present

          %dt VSA Partners
          %dd May 2007 &ndash; Nov 2008, Nov 2009 &ndash; Apr 2010

          %dt Mirko Ilic
          %dd Jun 2006 &ndash; Aug 2006

        %h4 Education
        %dl
          %dt Missouri State University
          %dd
            B.F.A. Design, dual-emphasis in Design and Illustration
            Minors in Web application development and art history

      %article
        %h4 Primary Responsibility
        %p
          As design lead of dScout, I manage and develop the user experience and user interface for the core components of
          dScout: a web app and a mobile app (iOS and Android).

      %article
        %h4 Recent Work
        %p
          On the following list of projects, I was responsible for the development and implementation. Design credits are listed
          with each project.

        %dl
          %dt <a href='http://www.auslchicago.org' target='_blank'>AUSL</a>
          %dd Front-end development, ExpressionEngine implmentation.

          %dt <a href='http://www.guggenheimpartners.com' target='_blank'>Guggenheim Partners</a>
          %dd Front-end development, template creation.

        %dl
          %dt <a href='http://www.shiirrugs.com' target='_blank'>SHIIR Rugs</a>
          %dd Front-end development, ExpressionEngine implmentation.

          %dt <a href='http://www.souciehorner.com' target='_blank'>Soucie Horner</a>
          %dd Front-end development, template creation.
